
----------------------------------

++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++
ASSIGNMENTS
++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++

----------------------------------

Final Project

Due: Tue Oct 21, 2025 8:00pmDue: Tue Oct 21, 2025 8:00pm
100 Points Possible

Only your slide deck should be submitted by 8:30 p.m. on the day the group is presenting. 8 mins per group for presentation -- taking more time will attract a penalty. 

----------------------------------

++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++
ANNOUNCEMNTS
++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++

----------------------------------

Meeting to discuss final project

HI folks:

Please see the meeting schedule here. https://docs.google.com/document/d/1v6gJcdSnBYEpFn5Cuc_hV7h0XX5f2FtO1-ISlqqWoqk/edit?usp=sharingLinks to an external site. 

Please arrive at my office (Groups 1-8 for both cohorts) during your time slot. I will meet Groups 9-11 from both cohorts on Zoom Thursday night -- Zoom link provided in the above document. 

----------------------------------

Zoom meetings tonight

Hi folks:

My sincere apologies for not starting the Zoom meeting tonight. The Spectrum connection in our area has been cutting in and out almost every two minutes since this evening making it impossible have a stable Zoom connection (now it has finally revived). I tried with a hotspot connection with my phone, but the connection was somewhat unstable, making it unreliable. 

Anyway, I will have the Zoom meetings tomorrow (Friday) but starting at 4 p.m. -- I have given the new timings on https://docs.google.com/document/d/1v6gJcdSnBYEpFn5Cuc_hV7h0XX5f2FtO1-ISlqqWoqk/edit?usp=sharingLinks to an external site. 

if your group is not able to make it, please write a comment next to your group in this document. I plan to do these meetings from school, and so the wifi connection should not be an issue. 

Thanks very much.

AB 

----------------------------------

Final Project Presentations

Hi folks:

As mentioned in class, the project presentations will be held online on 21st and 2nd October starting 8:30 p.m.. Each group will have 8 mins to present followed by a 2-min Q&A. Only the slide deck needs to be submitted (no separate report is required). I will provide a signup sheet shortly. 

----------------------------------

Final Project Presentations

Hi folks:

Please sign up for the final project presentations. I have provided maximum flexibility.

https://docs.google.com/document/d/1SYFiCFXx9lR0TGXwsjoVNCE1_wF5hdkzRlLIhLLvsM4/edit?usp=sharingLinks to an external site. 

Thanks.

AB

----------------------------------
